.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.film {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 0 50px;
}

.film > p {
    margin: 10px 0 0;
}

.film img {
    width: 25%;
    object-fit: contain;
}